<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}
  </h1>
  <h2>Add Activity</h2>
  <form #todoCreateForm="ngForm" (ngSubmit)="onSubmit()">
    <label>Activity:</label>
    <input type="text" name="name" #Name="ngModel" [(ngModel)]="newTodo.name" required />
    <button type="submit" value="{{title}}" [disabled]="!todoCreateForm.form.valid">Add</button>
  </form>
  <br>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Activity</th>
        <th>Creation date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{todo.name}}</td>
        <td>{{todo.created_Date}}</td>
        <td>
          <ng-template [ngIf]="todo.completed">Completed</ng-template>
          <ng-template [ngIf]="!todo.completed">In progress</ng-template>
        </td>
        <td>
          <button class="btn btn-sm btn-success" (click)="updateData(todo._id)">Complete </button>
          <button class="btn btn-sm btn-danger" (click)="deleteData(todo._id)">Delete </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>Find Activity by name</h2>
  <form #todoFindForm="ngForm" (ngSubmit)="onSubmitFind()">
    <label>Activity:</label>
    <input type="text" name="name" #Name="ngModel" [(ngModel)]="idToFInd" required />
    <button type="submit" value="{{title}}" [disabled]="!todoFindForm.form.valid">Find</button>
  </form>
  <br>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Activity</th>
        <th>Creation date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{todoToFind.name}}</td>
        <td>{{todoToFind.created_Date}}</td>
        <td>
            <ng-template [ngIf]="todoToFind.completed">Completed</ng-template>
            <ng-template [ngIf]="todoToFind.completed==false">In progress</ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>